.vs/Lab1_Memory/v15/Server/sqlite3/storage.ide
.vs/Lab1_Memory/v15/.suo
.vs/Lab1_Memory/v15/Server/sqlite3/storage.ide-wal
.vs/Lab1_Memory/v15/Server/sqlite3/storage.ide-shm
Lab1_Memory/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Lab1_Memory/obj/Debug/Lab1_Memory.pdb
Lab1_Memory/obj/Debug/Lab1_Memory.csproj.FileListAbsolute.txt
Lab1_Memory/obj/Debug/Lab1_Memory.csproj.CoreCompileInputs.cache
Lab1_Memory/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lab1_Memory/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lab1_Memory/obj/Debug/Lab1_Memory.exe
Lab1_Memory/obj/Debug/Lab1_Memory.csprojAssemblyReference.cache
Lab1_Memory/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lab1_Memory/bin/Debug/Lab1_Memory.pdb
Lab1_Memory/bin/Debug/Lab1_Memory.exe.config
Lab1_Memory/bin/Debug/Lab1_Memory.exe
Lab4_Transactions/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Lab4_Transactions/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Lab4_Transactions/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
